In [1]:
from sklearn.datasets import make_classification
import pandas as pd

X, y = make_classification(
    n_samples=100,
    n_features=1,
    n_informative=1,
    n_redundant=0,
    n_clusters_per_class=1,
    random_state=42
)

df = pd.DataFrame({
    'X': X[:,0],   # feature column (like your Column B)
    'y': y         # label column (like your Column C)
})
df

           X  y
0  -1.121978  0
1  -0.708785  0
2   0.426987  1
3  -0.755781  0
4  -1.106984  0
..       ... ..
95 -1.174613  0
96  1.266318  1
97  0.799008  1
98  0.835421  1
99  1.664833  1

[100 rows x 2 columns]

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import optimize
%matplotlib inline

*The Dataset*

In [ ]:
data = np.loadtxt()